extends ../shared/layout

block head
    title Home - Ben Winding
    link(rel='stylesheet', href='/css/portal.css')

mixin cardTemplate(card)
    div(class="item " + categories[card.acronym])
        a#cardlink(href=card.link)
            img.behind(src='/images/square.svg')
            .item-content
                p.item-index=card.index
                p.item-acronym=card.acronym
                p.item-name=card.title
                p.item-weight=card.weight
                #title


block content
    .background
        .container
            .grid.row
                - cards.sort((a,b) => { return a.index - b.index })
                each card in cards
                    .col-lg-2.col-md-2.col-sm-3.col-xs-6
                        +cardTemplate(card)

    script.
        $(function () {
            $('.item').bind('click', function (ev) {
                ev.preventDefault();
                var card = $(this);
                var cardParent = card.parent();
                cardParent.css({
                    "zIndex": 999,
                    "position": "fixed",
                    "margin": 0
                });
                card.animate({
                    "height": "100vh",
                    "margin": "0"
                });
                cardParent.animate({
                    "top": "0",
                    "left": "0",
                    "width": "100%",
                    "height": "100vh",
                    "fontSize": "2em"
                }, 'slow', function () {
                    cardParent.fadeTo(300, 0, function () {
                    })
                    document.location = card.children().attr("href");
                });
            });
        });
