extends ../shared/layout

block head
    - var ptitle = "Ben Winding - The Periodic Table of Projects"
    - var pdesc = "Welcome to the unfinished projects and unclear visions of Ben Winding. See countless hours poured into misguided goals. Here you'll find; programming, blogs and much much less. We appreciate you stopping by out of pity. Kind regards, Ben Winding."
    title=ptitle
    meta(name="description" content=pdesc)
    link(rel='stylesheet', href='/portal/projects-table.css')
    link(rel='stylesheet', href='/portal/subdomains.css')
    meta(property="og:image" content="https://i.imgur.com/orqq5jB.jpg")
    meta(property="og:title" content=ptitle)
    meta(property="og:description" content=pdesc)

block content
    //- Introduction
    .container
        .col-xs-12.text-center
            h1 Ben Winding
        p=pdesc

    //- Projects
    include projects-table.pug

    //- Sub Domains
    include subdomains.pug