extends ../shared/layout

block head
    - var ptitle = portalData.title
    - var pdesc = portalData.description
    title=ptitle
    meta(name="description" content=pdesc)
    link(rel='stylesheet', href='/portal/projects-table.css')
    link(rel='stylesheet', href='/portal/subdomains.css')
    link(rel='stylesheet', href='/portal/blog-preview.css')
    meta(property="og:image" content="https://i.imgur.com/orqq5jB.jpg")
    meta(property="og:title" content=ptitle)
    meta(property="og:description" content=pdesc)

block content
    //- Introduction
    .container
        .col-xs-6.col-xs-offset-3
            br
            p=pdesc
            p Kind regards,
            p Ben Winding.

    //- Projects
    include projects-table.pug

    //- Blog Previews
    include blog-preview.pug

    //- Sub Domains
    include subdomains.pug