extends ../shared/layout

block head
    - var ptitle = "Ben Winding - The Periodic Table of Projects"
    title=ptitle
    meta(name="description" content="Welcome to the unfinished projects and unclear visions of Ben Winding. See countless hours poured into misguided goals. Here you'll find; programming, blogs and much much less. We appreciate you stopping by out of pity. Kind regards, Ben Winding.")
    link(rel='stylesheet', href='/portal/portal.css')
    meta(property="og:image" content="https://i.imgur.com/orqq5jB.jpg")
    meta(property="og:title" content=ptitle)


mixin makeCard(bootstrapSize, shape, category, acronym, title, linkUrl, imageUrl)
    div(class=bootstrapSize + " " + category)
        div(class="item " + category + " tint",style="background-image: url("+imageUrl+");")
            a#cardlink(href=linkUrl, title=title)
                img.behind(src='/images/' + shape, alt=acronym+' '+title)
                div(class="item-content ")
                    p.item-acronym=acronym
                    p.item-name=title
                    div#gears

block content
    - var c_me = "c1"
    - var c_apps = "c2"
    - var c_expe = "c3"
    - var c_misc = "c4"
    - var c_bots = "c5"
    .background
        .container
            .row#topButtons
                .col-xs-12.text-center
                    h1 Periodic Table of Projects
                    .btn-group#filters(role='group')
                        button.btn.active(data-filter='*')
                            i.fas.fa-asterisk  
                            span All
                        button.btn#b1(data-filter='.' + c_me, title='Click to filter!')
                            i.fas.fa-user  
                            span Me
                        button.btn#b2(data-filter='.' + c_apps, title='Click to filter!')
                            i.fas.fa-cubes  
                            span Apps
                        button.btn#b3(data-filter='.' + c_expe, title='Click to filter!') 
                            i.fas.fa-flask
                            span Experimental
                        button.btn#b5(data-filter='.' + c_bots, title='Click to filter!')
                            i.fas.fa-comment-alt
                            span Bots
                        button.btn#b4(data-filter='.' + c_misc, title='Click to filter!')
                            i.fas.fa-folder-open
                            span Misc
                    div.heading-group
                        h2#filter-heading [Click to filter] 
                        i.fas.fa-level-up-alt
            .grid
                - var colSizes =         "col-xs-6  col-ms-4 col-sm-3 col-md-2 col-lg-2"
                //- Sizes tile widths at column sizes 
                - var w_sm  =  "grid-item col-xs-6  col-ms-4 col-sm-3 col-md-2 col-lg-2"
                - var w_md  =  "grid-item col-xs-6  col-ms-8 col-sm-6 col-md-4 col-lg-4"
                - var w_ml  =  "grid-item col-xs-12  col-ms-8 col-sm-6 col-md-4 col-lg-4"
                - var w_lg  =  "grid-item col-xs-12 col-ms-12 col-sm-9 col-md-6 col-lg-4"
                //- Tile shapes, reference to svg size
                - var square = "r1-c1.svg"
                div(class="grid-sizer " + colSizes)
                +makeCard(w_sm, square,  c_me, "Me", "About", "/about", "https://i.imgur.com/orqq5jB.jpg")
                +makeCard(w_sm, square, c_bots, "Mb", "Meme Bot", "https://breeze-bot-landing.herokuapp.com/", "https://i.imgur.com/FWY5P8h.png")
                +makeCard(w_sm, square, c_expe, "Cr", "Cricket Lanes", "https://benwinding.github.io/CricketNet-Demo/", "https://i.imgur.com/xGwyAEz.gif")
                +makeCard(w_sm, square,  c_me, "Bg", "Blog", "http://blog.benwinding.com", "https://i.imgur.com/0sIeGjL.jpg")
                +makeCard(w_sm, square, c_bots, "Bb", "Breeze Bot", "https://breeze-bot-landing.herokuapp.com/", "https://i.imgur.com/BoEjyYW.png")
                +makeCard(w_sm, square, c_expe, "Wp", "Wake Park", "https://benwinding.github.io/angular2-wakepark-teaser/#/parkPreview", "https://i.imgur.com/Cpk5kkn.gif")
                +makeCard(w_sm, square, c_misc, "Ds", "This Site?", "/but-how?", "https://i.imgur.com/7TS2LVj.jpg")
                +makeCard(w_sm, square, c_apps, "Cs", "Choiceful Stories", "https://breeze-bot-landing.herokuapp.com/", "https://i.imgur.com/0sIeGjL.jpg")

    script.
        $(function () {
            $('.item').bind('click', function (ev) {
                ev.preventDefault();
                var card = $(this);
                var cardParent = card.parent();
                var cardLink = card.find('#cardlink');
                cardParent.css({
                    "zIndex": 999,
                    "position": "fixed",
                    "margin": "0",
                    "padding": "0",
                    "opacity": "1"
                });
                card.animate({
                    "height": "100vh",
                    "width": "100vw"
                });
                cardParent.animate({
                    "top": "0",
                    "left": "0",
                    "width": "100%",
                    "height": "100vh",
                    "fontSize": "2em"
                });
                cardParent.css({
                    "zIndex": 999,
                    "position": "fixed",
                    "margin": "0",
                    "padding": "0"
                });
                card.toggleClass('whited');
                cardLink.css({
                  color: "grey"
                });
                card.find('#gears').toggleClass('loading')
                setTimeout(function () {
                    document.location = cardLink.attr("href");
                }, 1000)
            });
        });
        $('.grid').isotope({
            itemSelector: '.grid-item',
            masonry: {
                columnWidth: '.grid-sizer'
            },
            hiddenStyle: {
                opacity: 0
            },
            visibleStyle: {
                opacity: 1
            }
        });
        setTimeout(function() {
            $('.grid').isotope('layout')
            setTimeout(function () {
                $('.grid').isotope('layout')
            }, 500);
        }, 500);

        // bind filter button click
        $('#filters').on('click', 'button', function () {
            var filterValue = $(this).attr('data-filter');
            $('.grid').isotope({filter: filterValue});
        });
        // change is-checked class on buttons
        $('.btn-group').each(function (i, buttonGroup) {
            var $buttonGroup = $(buttonGroup);
            $buttonGroup.on('click', 'button', function () {
                $buttonGroup.find('.active').removeClass('active');
                $(this).addClass('active');
            });
        });

