html
head
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1.0')
title=title
link(rel='stylesheet', href='/css/main.css')
link(rel='stylesheet', href='/css/portals.css')
body
header
    a(href='/')
        h1=headerTitle
        h3=headerSubtitle
div(class='wrapper')
    each val in sites
        a(href=val.link)
            div(class='box')
                p=val.title
                img(src=val.img)
footer
    h4=footerDescription