extends shared/layout

block head
    title Home - Ben Winding

mixin portal(card)
    div(class="item " + categories[card.acronym])
        a(href=card.link)
            img.behind(src='/square.svg')
            .item-content
                p.item-index=card.index
                p.item-acronym=card.acronym
                p.item-name=card.title
                p.item-weight=card.weight


block content
    .background
        .container
            .grid.row
                each card in cards
                    .col-lg-2.col-md-2.col-sm-3.col-xs-6
                        +portal(card)

    //script(src="js/cards.js")
