extends shared/layout

block head
    title Home - Ben Winding
    script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js")

block content
    script.
        Muuri = null
    script(src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.5.3/muuri.min.js")
    .grid
        each val in sites
            .item
                .item-content
                    p.item-index="89"
                    p.item-acronymn="Cs"
                    a(href=val.link)
                        p.item-name=val.title
                    a(href=val.link)
                        p.item-weight="37.23"

    script(src="js/cards.js")
