html
head
meta
meta(name="norton-safeweb-site-verification" content="53q3idgt5aytt12y81aolg9glgpuh2h0dr8aj8b5q9k0qf0sc31m3cbrw8k1ezf47tb0-nwaa1t7xt7ulpwgdoh1k6qg8pe38o71--l1hf3n5d2d0rfb5mf3wqmpks8k")
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1.0')
title=title
link(rel='stylesheet', href='/main.css')
link(rel='stylesheet', href='/portal/portal.css')
body
header
    a(href='/')
        h1=headerTitle
        h3=headerSubtitle
div(class='wrapper')
    each val in sites
        a(href=val.link)
            div(class='box')
                p=val.title
                img(src=val.img)
footer
    h4=footerDescription