extends ../shared/layout

block head
    -var urlCdnBase = 'https://cdn.jsdelivr.net/npm/lightgallery.js@1.0.2'
    title Old Site? - Ben Winding
    link(rel='stylesheet' href=urlCdnBase+'/dist/css/lightgallery.css')
    script(src=urlCdnBase+'/dist/js/lightgallery.min.js')
    link(rel='stylesheet', href='/old-site/old-site.css')    

block content
    - var colSizes = "col-xs-6  col-ms-4 col-sm-3 col-md-2 col-lg-2"
    div.container
        h1 Previously...
        p On this website, there were previous versions. Experience Time-Travel, by viewing the previous versions of this website!!
        div#lightGallery
          each image, index in inputList
            a(data-src=image.imageUrl)
              div#item(class=colSizes)
                div#background-image(style="background-image: url(" + image.imageUrl + ");")
                  img.behind(src='/images/r1-c2.svg')
                div.caption
                  h4=image.caption

    script.
      lightGallery(document.getElementById('lightGallery'));
